@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@300..900&display=swap');

:root {
    --primary-color: #3c15b1;
    --secondary-color: #30811a;
    --accent1-color: #aa1b1b;
    --accent2-color: #a84194;

    --heading-font: "Abril Fatface", serif;
    --paragraph-font: "Frank Ruhl Libre", serif;

    --nav-background-color: #30811a;
    --nav-link-color: #a84194;
    --nav-hover-link-color: #30811a;
    --nav-hover-background-color: #a84194;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	color: #a84194;
	font-family: Acme, Arial, sans-serif;
}

h2 {
	color: #3c15b1;
}

p {
	color: brown;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
