@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=DM+Serif+Display:ital@1&display=swap');

:root {
    --primary-color: #3c15b1;
    --secondary-color: #30811a;
    --accent1-color: #aa1b1b;
    --accent2-color: #a84194;

    --heading-font: "DM Serif Display", serif;
    --paragraph-font: "Cormorant Garamond", serif;

    --nav-background-color: #a84194;
    --nav-link-color: #3c15b1;
    --nav-hover-link-color: #a84194;
    --nav-hover-background-color: #3c15b1;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--#aa1b1b);
}

p {
    padding: 25px
}

nav {
    background-color: var(--#a84194);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: blocks;
    color: var(--#3c15b1);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--#3c15b1);
}

nav a:hover {
    color: var(--#a84194);
}